body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  position: relative;
  text-align: center;
}
.s1 {
  height: 450px;
  transform: translate(50px, 85px);
  text-align: left;
  justify-content: flex-start;
  color: blueviolet;
  font-size: 24px;
  width: 50px;
}
.s2 {
  height: 610px;
  width: 550px;
  transform: translate(150px, -30px);
  color: crimson;
  background-image: url(/bai2/anh-wallpaper-tinh-yeu-lang-man-nhat_025631767.jpg);
  background-size: cover;
  background-position: center;
}
.s3 {
  width: 478px;
  height: 590px;
  transform: translate(150px, -10px);
  color: darkturquoise;
  background-image: url(./nhung-hinh-anh-dep-ve-tinh-yeu-lang-man-don-gian.jpg);
}
