body {
  display: flex;
  flex-direction: row;
  height: 97vh;
  gap: 8px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.right {
  width: 900px;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}
.right1 {
  width: 250px;
  height: 350px;
  text-align: center;
  color: rgb(93, 95, 95);
  margin-top: 10px;
}
.right2 {
  height: 350px;
  width: 500px;
  padding-top: 15px;
}
.img {
  display: flex;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translate(20px);
  gap: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}
.star.fill {
  color: #ff8000;
}
.star {
  color: rgb(18, 110, 110);
}
.price {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: rgb(224, 228, 230);
}
.border {
  background-color: coral;
  width: 50px;
  height: 15px;
  color: white;
  border-radius: 3px;
  text-align: center;
}
.insurance {
  display: flex;
  flex-direction: row;
  gap: 5px;
  transform: translate(0, -25px);
}
.freeShip {
  display: flex;
  flex-direction: row;
  transform: translate(0, -55px);
  gap: 5px;
}
.freeShip2 {
  display: flex;
  flex-direction: row;
  transform: translate(0, -90px);
  align-items: center;
  gap: 5px;
}
.freeShip3 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  transform: translate(22px, -130px);
}
.color {
  display: flex;
  flex-direction: row;
  gap: 4px;
  transform: translate(0, -140px);
  align-items: center;
  cursor: pointer;
}
.color1 {
  text-align: center;
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  border-radius: 20px;
  transition-duration: 0.7s;
}
.color1:hover {
  background-color: aliceblue;
  transform: translate(0, -10px);
  width: 100px;
  height: 30px;
  text-align: center;
}
.color2 {
  text-align: center;
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  border-radius: 20px;
  transition-duration: 0.7s;
}
.color2:hover {
  background-color: rgb(77, 77, 230);
  transform: translate(0, -10px);
  width: 100px;
  height: 30px;
  text-align: center;
}
.color3 {
  text-align: center;
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  border-radius: 20px;
  transition-duration: 0.7s;
}
.color3:hover {
  background-color: black;
  transform: translate(0, -10px);
  width: 100px;
  height: 30px;
  text-align: center;
  color: white;
}
.color4 {
  text-align: center;
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  border-radius: 20px;
  transition-duration: 0.7s;
}
.color4:hover {
  background-color: pink;
  transform: translate(0, -10px);
  width: 100px;
  height: 30px;
  text-align: center;
}
.size {
  display: flex;
  flex-direction: row;
  gap: 5px;
  transform: translate(0, -120px);
  cursor: pointer;
}
.sizeS {
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  text-align: center;
  transition-duration: 0.7s;
  border-radius: 20px;
}
.sizeS:hover {
  background-color: bisque;
  transform: translate(0, -20px) scale(0.8);
}
.sizeM {
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  text-align: center;
  transition-duration: 0.7s;
  border-radius: 20px;
}
.sizeM:hover {
  background-color: bisque;
  transform: translate(0, -20px) scale(1.2);
}

.sizeL {
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  text-align: center;
  transition-duration: 0.7s;
  border-radius: 20px;
}
.sizeL:hover {
  background-color: bisque;
  transform: translate(0, -20px) scale(1.4);
}
.sizeXL {
  width: 75px;
  height: 25px;
  background-color: rgb(216, 218, 218);
  text-align: center;
  transition-duration: 0.7s;
  border-radius: 20px;
}
.sizeXL:hover {
  background-color: bisque;
  transform: translate(0, -20px) scale(1.6);
}
.count {
  transform: translate(0, -106px);
}
.number {
  width: 31px;
}
button {
  cursor: pointer;
}
.shop {
  border: solid 1px orange;
  width: 120px;
  height: 20px;
  text-align: center;
  background-color: #f9f3ec;
  transform: translate(0, -80px);
  cursor: pointer;
}
.buy {
  border: solid 1px rgb(214, 141, 6);
  background-color: #e67403;
  width: 120px;
  height: 27px;
  text-align: center;
  color: #f9f3ec;
  transform: translate(130px, -105px);
  cursor: pointer;
}
.money {
  transform: translate(0, -104px);
}
